openapi: 3.0.3
info:
  title: TaintedPort API
  description: |
    REST API for TaintedPort, an intentionally vulnerable Portuguese wine store
    application designed for DAST and security testing.

    **WARNING:** This is NOT a real store. It is a deliberately vulnerable application.

    ## Authentication
    Most endpoints require a JWT Bearer token obtained via the login endpoint.
    Include the token in the `Authorization` header: `Bearer <token>`

    ## Demo Accounts
    - joe@example.com / password123
    - jane@example.com / password123
  version: 1.0.0
  contact:
    name: TaintedPort
    url: https://taintedport.com

servers:
  - url: https://api.taintedport.com
    description: Production
  - url: http://localhost:8080/api
    description: Local Docker
  - url: http://localhost:8000/api
    description: Local Development

tags:
  - name: Authentication
    description: User registration, login, profile management, and 2FA
  - name: Wines
    description: Wine catalog browsing and search
  - name: Cart
    description: Shopping cart management (requires auth)
  - name: Orders
    description: Order placement and history (requires auth)
  - name: Admin
    description: Admin dashboard - order management (requires admin role)

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from POST /auth/login

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "An error occurred."

    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Joe Silva"
        email:
          type: string
          format: email
          example: "joe@example.com"
        totp_enabled:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time

    Wine:
      type: object
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: "Quinta do Vallado Douro Tinto"
        region:
          type: string
          example: "Douro"
        type:
          type: string
          example: "Red"
        vintage:
          type: integer
          example: 2020
        price:
          type: number
          format: float
          example: 185.00
        image_url:
          type: string
          example: "/images/wines/vallado.jpg"
        description:
          type: string
        description_short:
          type: string
          example: "Rich and elegant Douro red wine"
        grapes:
          type: string
          example: "Touriga Nacional, Touriga Franca"
        alcohol:
          type: number
          format: float
          example: 13.5
        bottle_size:
          type: string
          example: "750ml"
        producer:
          type: string
          example: "Quinta do Vallado"
        food_pairing:
          type: string
          example: "Red meats, aged cheeses, stews"

    WineSummary:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        region:
          type: string
        type:
          type: string
        vintage:
          type: integer
        price:
          type: number
          format: float
        image_url:
          type: string
        description_short:
          type: string

    CartItem:
      type: object
      properties:
        id:
          type: integer
        wine_id:
          type: integer
        wine_name:
          type: string
        wine_image:
          type: string
        price:
          type: number
          format: float
        quantity:
          type: integer
        subtotal:
          type: number
          format: float

    OrderSummary:
      type: object
      properties:
        id:
          type: integer
        total:
          type: number
          format: float
        status:
          type: string
          enum: [pending, processing, shipped, delivered]
        order_date:
          type: string
          format: date-time
        items_count:
          type: integer

    OrderDetail:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        total:
          type: number
          format: float
        status:
          type: string
        shipping_name:
          type: string
        shipping_street:
          type: string
        shipping_city:
          type: string
        shipping_postal_code:
          type: string
        shipping_phone:
          type: string
        delivery_notes:
          type: string
        created_at:
          type: string
          format: date-time
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              wine_id:
                type: integer
              wine_name:
                type: string
              price:
                type: number
                format: float
              quantity:
                type: integer
              subtotal:
                type: number
                format: float

    ShippingAddress:
      type: object
      required:
        - name
        - street
        - city
        - postal_code
        - phone
      properties:
        name:
          type: string
          example: "Joe Silva"
        street:
          type: string
          example: "Rua das Flores 42"
        city:
          type: string
          example: "Lisboa"
        postal_code:
          type: string
          example: "1200-195"
        phone:
          type: string
          example: "+351 912 345 678"

paths:
  # ==================== Authentication ====================
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:
                  type: string
                  example: "Joe Silva"
                email:
                  type: string
                  format: email
                  example: "joe@example.com"
                password:
                  type: string
                  minLength: 8
                  example: "password123"
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Email already registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Login and get JWT token
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: "joe@example.com"
                password:
                  type: string
                  example: "password123"
                totp_code:
                  type: string
                  description: "6-digit TOTP code (required if 2FA is enabled)"
                  example: "123456"
      responses:
        '200':
          description: Login successful or 2FA required
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      token:
                        type: string
                      user:
                        $ref: '#/components/schemas/User'
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: false
                      requires_2fa:
                        type: boolean
                        example: true
                      message:
                        type: string
        '400':
          description: Missing email or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Invalid credentials or TOTP code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user profile
      operationId: getCurrentUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/profile:
    put:
      tags: [Authentication]
      summary: Update user name
      operationId: updateProfile
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 100
                  example: "Joe Updated"
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/email:
    put:
      tags: [Authentication]
      summary: Change email address (requires current password)
      operationId: changeEmail
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, new_email]
              properties:
                password:
                  type: string
                  example: "password123"
                new_email:
                  type: string
                  format: email
                  example: "newemail@example.com"
      responses:
        '200':
          description: Email updated, new JWT token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Incorrect password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/password:
    put:
      tags: [Authentication]
      summary: Change password (requires current password)
      operationId: changePassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password:
                  type: string
                  example: "password123"
                new_password:
                  type: string
                  minLength: 8
                  example: "newpassword456"
      responses:
        '200':
          description: Password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
        '401':
          description: Incorrect current password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/2fa/setup:
    post:
      tags: [Authentication]
      summary: Generate TOTP secret and QR code URI
      operationId: setup2fa
      security:
        - BearerAuth: []
      responses:
        '200':
          description: TOTP secret generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  secret:
                    type: string
                    example: "JBSWY3DPEHPK3PXP"
                  otpauth_uri:
                    type: string
                    example: "otpauth://totp/TaintedPort:joe@example.com?secret=JBSWY3DPEHPK3PXP&issuer=TaintedPort&digits=6&period=30&algorithm=SHA1"
        '400':
          description: 2FA already enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/2fa/enable:
    post:
      tags: [Authentication]
      summary: Enable 2FA with secret and verification code
      operationId: enable2fa
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [totp_secret, totp_code]
              properties:
                totp_secret:
                  type: string
                  example: "JBSWY3DPEHPK3PXP"
                totp_code:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: 2FA enabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
        '400':
          description: Invalid secret or code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/2fa/disable:
    post:
      tags: [Authentication]
      summary: Disable 2FA (requires password)
      operationId: disable2fa
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
                  example: "password123"
      responses:
        '200':
          description: 2FA disabled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
        '401':
          description: Invalid password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Wines ====================
  /wines:
    get:
      tags: [Wines]
      summary: List wines with search, filter, and sort
      operationId: listWines
      parameters:
        - name: search
          in: query
          description: Search by name, region, or producer
          schema:
            type: string
        - name: region
          in: query
          description: Filter by region
          schema:
            type: string
            example: "Douro"
        - name: type
          in: query
          description: Filter by wine type
          schema:
            type: string
            enum: [Red, White, Rosé, Port, Fortified, Sparkling]
        - name: minPrice
          in: query
          description: Minimum price filter
          schema:
            type: number
            format: float
        - name: maxPrice
          in: query
          description: Maximum price filter
          schema:
            type: number
            format: float
        - name: sort
          in: query
          description: Sort order
          schema:
            type: string
            enum: [name_asc, name_desc, price_asc, price_desc]
            default: name_asc
      responses:
        '200':
          description: List of wines
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  wines:
                    type: array
                    items:
                      $ref: '#/components/schemas/WineSummary'
                  total:
                    type: integer
                  message:
                    type: string
                    description: "Search result message (only when search param is used)"
                  search_query:
                    type: string
                    description: "Echo of the search query (only when search param is used)"

  /wines/regions:
    get:
      tags: [Wines]
      summary: List available wine regions
      operationId: listRegions
      responses:
        '200':
          description: List of regions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  regions:
                    type: array
                    items:
                      type: string
                    example: ["Alentejo", "Bairrada", "Dão", "Douro", "Lisboa", "Madeira", "Vinho Verde"]

  /wines/types:
    get:
      tags: [Wines]
      summary: List available wine types
      operationId: listTypes
      responses:
        '200':
          description: List of types
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  types:
                    type: array
                    items:
                      type: string
                    example: ["Fortified", "Port", "Red", "Rosé", "Sparkling", "White"]

  /wines/{id}:
    get:
      tags: [Wines]
      summary: Get wine details by ID
      operationId: getWine
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Wine details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  wine:
                    $ref: '#/components/schemas/Wine'
        '404':
          description: Wine not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Cart ====================
  /cart:
    get:
      tags: [Cart]
      summary: Get cart items
      operationId: getCart
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Cart contents
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CartItem'
                  total:
                    type: number
                    format: float

  /cart/add:
    post:
      tags: [Cart]
      summary: Add item to cart
      operationId: addToCart
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wine_id, quantity]
              properties:
                wine_id:
                  type: integer
                  example: 1
                quantity:
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 2
      responses:
        '200':
          description: Item added to cart
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Wine not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /cart/update:
    put:
      tags: [Cart]
      summary: Update cart item quantity
      operationId: updateCartItem
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wine_id, quantity]
              properties:
                wine_id:
                  type: integer
                  example: 1
                quantity:
                  type: integer
                  minimum: 0
                  example: 3
      responses:
        '200':
          description: Cart updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string

  /cart/remove/{wine_id}:
    delete:
      tags: [Cart]
      summary: Remove item from cart
      operationId: removeFromCart
      security:
        - BearerAuth: []
      parameters:
        - name: wine_id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Item removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string

  # ==================== Orders ====================
  /orders:
    post:
      tags: [Orders]
      summary: Place an order (checkout)
      operationId: createOrder
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shipping_address]
              properties:
                shipping_address:
                  $ref: '#/components/schemas/ShippingAddress'
                delivery_notes:
                  type: string
                  example: "Ring the doorbell twice"
      responses:
        '201':
          description: Order placed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  order_id:
                    type: integer
                    example: 1
                  message:
                    type: string
        '400':
          description: Validation error or empty cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags: [Orders]
      summary: List user's orders
      operationId: listOrders
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderSummary'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Get order details
      operationId: getOrder
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  order:
                    $ref: '#/components/schemas/OrderDetail'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orders/{id}/status:
    put:
      tags: [Orders]
      summary: Update order status (BFLA - trusts is_admin from body)
      operationId: updateOrderStatus
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status, is_admin]
              properties:
                status:
                  type: string
                  enum: [pending, processing, shipped, delivered, cancelled]
                  example: "shipped"
                is_admin:
                  type: boolean
                  description: "VULN: Setting this to true bypasses admin check"
                  example: true
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
        '403':
          description: Admin access required (is_admin not set)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ==================== Admin ====================
  /admin/orders:
    get:
      tags: [Admin]
      summary: List all orders (admin only)
      operationId: adminListOrders
      security:
        - BearerAuth: []
      responses:
        '200':
          description: All orders with customer info
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  orders:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        user_id:
                          type: integer
                        user_name:
                          type: string
                        user_email:
                          type: string
                        total:
                          type: number
                          format: float
                        status:
                          type: string
                        shipping_name:
                          type: string
                        shipping_city:
                          type: string
                        order_date:
                          type: string
                          format: date-time
                        items_count:
                          type: integer
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/orders/{id}:
    get:
      tags: [Admin]
      summary: Get order details (admin only)
      operationId: adminGetOrder
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order details with customer info
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  order:
                    $ref: '#/components/schemas/OrderDetail'
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/orders/{id}/status:
    put:
      tags: [Admin]
      summary: Update order status (admin only)
      operationId: adminUpdateOrderStatus
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [pending, processing, shipped, delivered, cancelled]
                  example: "shipped"
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
        '400':
          description: Invalid status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Admin access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
